<a href="https://colab.research.google.com/github/kylejohnsonks/Group2/blob/Kyle/MLModel_v2_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import dependencies
import pandas as pd
import psycopg2

import sqlalchemy
from sqlalchemy import create_engine

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [2]:
from sklearn.metrics import balanced_accuracy_score
import sklearn.metrics as sm
from imblearn.metrics import classification_report_imbalanced
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import tensorflow as tf
import plotly as pt

In [3]:
# Create an engine instance
alchemyEngine = create_engine('postgresql+psycopg2://root:Group2Wineos@grp2rdsinstance.cwkbfcctxu7y.us-east-1.rds.amazonaws.com/postgres')

In [4]:
# Connect to PostgreSQL server
dbConnection = alchemyEngine.connect();

In [5]:
raw_df=pd.read_csv("https://raw.githubusercontent.com/kylejohnsonks/Group2/Kyle/Resources/MergedData.csv")
raw_df.head()

,points,price,province,variety,winery,Precipitation,Temperature
0,87,14.0,Oregon,Pinot Gris,Rainstorm,440.1,8.68
1,87,20.0,Oregon,Pinot Noir,Acrobat,440.1,8.68
2,92,48.0,Oregon,Pinot Noir,WillaKenzie Estate,440.1,8.68
3,92,70.0,Oregon,Pinot Noir,Stoller,440.1,8.68
4,90,85.0,Oregon,Pinot Noir,Beacon Hill,440.1,8.68

In [6]:
# Create the OneHotEncoder instance
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False)

In [7]:
# Fit the encoder and produce encoded DataFrame
encode_df = pd.DataFrame(enc.fit_transform(raw_df.province.values.reshape(-1,1)))

# Rename encoded columns
encode_df.columns = enc.get_feature_names(['province'])
encode_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,province_Alsace,province_Aquitaine,province_Burgundy,province_California,province_Champagne-Ardenne,province_New York,province_Oregon,province_Piemonte,province_Sicilia,province_Tuscany,province_Veneto,province_Washington
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [8]:
# Merge the two DataFrames together and drop the Country column
raw_df = raw_df.merge(encode_df,left_index=True,right_index=True).drop(columns="province",axis=1)
raw_df

,points,price,variety,winery,Precipitation,Temperature,province_Alsace,province_Aquitaine,province_Burgundy,province_California,province_Champagne-Ardenne,province_New York,province_Oregon,province_Piemonte,province_Sicilia,province_Tuscany,province_Veneto,province_Washington
0,87,14.0,Pinot Gris,Rainstorm,440.10,8.68,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,87,20.0,Pinot Noir,Acrobat,440.10,8.68,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,92,48.0,Pinot Noir,WillaKenzie Estate,440.10,8.68,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,92,70.0,Pinot Noir,Stoller,440.10,8.68,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,90,85.0,Pinot Noir,Beacon Hill,440.10,8.68,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58846,92,85.0,Chardonnay,Domaine Laroche,712.75,11.51,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58847,86,15.0,Bordeaux-style Red Blend,Baron Philippe de Rothschild,879.16,13.66,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58848,87,29.0,Pinot Noir,Firesteed,656.21,9.43,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
58849,92,50.0,White Blend,Castello di Selvole,981.05,12.51,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
58850,86,61.0,Nebbiolo,Pio Cesare,1588.16,10.59,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [9]:
# Fit the encoder and produce encoded DataFrame
encode2_df = pd.DataFrame(enc.fit_transform(raw_df.variety.values.reshape(-1,1)))

# Rename encoded columns
encode2_df.columns = enc.get_feature_names(['variety'])
encode2_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,variety_Barbera,variety_Bordeaux-style Red Blend,variety_Bordeaux-style White Blend,variety_Cabernet Franc,variety_Cabernet Sauvignon,variety_Champagne Blend,variety_Chardonnay,"variety_Corvina, Rondinella, Molinara",variety_Dolcetto,variety_Garganega,...,variety_Sangiovese,variety_Sangiovese Grosso,variety_Sauvignon Blanc,variety_Sparkling Blend,variety_Syrah,variety_Tempranillo,variety_Vermentino,variety_Viognier,variety_White Blend,variety_Zinfandel
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
raw_df = raw_df.merge(encode2_df,left_index=True,right_index=True).drop("variety",axis=1)
raw_df

,points,price,winery,Precipitation,Temperature,province_Alsace,province_Aquitaine,province_Burgundy,province_California,province_Champagne-Ardenne,...,variety_Sangiovese,variety_Sangiovese Grosso,variety_Sauvignon Blanc,variety_Sparkling Blend,variety_Syrah,variety_Tempranillo,variety_Vermentino,variety_Viognier,variety_White Blend,variety_Zinfandel
0,87,14.0,Rainstorm,440.10,8.68,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,87,20.0,Acrobat,440.10,8.68,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,92,48.0,WillaKenzie Estate,440.10,8.68,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,92,70.0,Stoller,440.10,8.68,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,90,85.0,Beacon Hill,440.10,8.68,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58846,92,85.0,Domaine Laroche,712.75,11.51,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58847,86,15.0,Baron Philippe de Rothschild,879.16,13.66,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58848,87,29.0,Firesteed,656.21,9.43,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58849,92,50.0,Castello di Selvole,981.05,12.51,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
58850,86,61.0,Pio Cesare,1588.16,10.59,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
raw_df=raw_df.drop(['winery'],axis=1)

In [24]:
#scale dataframe
from sklearn.preprocessing import MinMaxScaler
# Create the StandardScaler instance
scaler = MinMaxScaler()
df_new = raw_df[['Precipitation', 'Temperature','price']].copy()

# Fit the StandardScaler
scaler.fit(df_new)


# Scale the data
scaled_data = scaler.transform(df_new)
scaled_df = pd.DataFrame(scaled_data, columns = ["precipitation_scaled", "temperature_scaled","price_scaled"])
scaled_df

       precipitation_scaled  temperature_scaled  price_scaled
0                  0.162465            0.166058      0.104167
1                  0.162465            0.166058      0.166667
2                  0.162465            0.166058      0.458333
3                  0.162465            0.166058      0.687500
4                  0.162465            0.166058      0.843750
...                     ...                 ...           ...
58846              0.361369            0.424270      0.843750
58847              0.482769            0.620438      0.114583
58848              0.320122            0.234489      0.260417
58849              0.557100            0.515511      0.479167
58850              1.000000            0.340328      0.593750

[58851 rows x 3 columns]

In [25]:
# merge df, and scaled_data
df = raw_df.merge(scaled_df,left_index=True,right_index=True).drop(columns=["Precipitation", "Temperature","price"], axis=1)
df

,points,province_Alsace,province_Aquitaine,province_Burgundy,province_California,province_Champagne-Ardenne,province_New York,province_Oregon,province_Piemonte,province_Sicilia,...,variety_Sparkling Blend,variety_Syrah,variety_Tempranillo,variety_Vermentino,variety_Viognier,variety_White Blend,variety_Zinfandel,precipitation_scaled,temperature_scaled,price_scaled
0,87,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.162465,0.166058,0.104167
1,87,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.162465,0.166058,0.166667
2,92,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.162465,0.166058,0.458333
3,92,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.162465,0.166058,0.687500
4,90,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.162465,0.166058,0.843750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58846,92,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.361369,0.424270,0.843750
58847,86,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.482769,0.620438,0.114583
58848,87,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.320122,0.234489,0.260417
58849,92,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.557100,0.515511,0.479167
58850,86,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,0.340328,0.593750

In [26]:
y = df.pop('points')
y

0        87
1        87
2        92
3        92
4        90
         ..
58846    92
58847    86
58848    87
58849    92
58850    86
Name: points, Length: 58851, dtype: int64

In [27]:
X = df

In [28]:
X

,province_Alsace,province_Aquitaine,province_Burgundy,province_California,province_Champagne-Ardenne,province_New York,province_Oregon,province_Piemonte,province_Sicilia,province_Tuscany,...,variety_Sparkling Blend,variety_Syrah,variety_Tempranillo,variety_Vermentino,variety_Viognier,variety_White Blend,variety_Zinfandel,precipitation_scaled,temperature_scaled,price_scaled
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.162465,0.166058,0.104167
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.162465,0.166058,0.166667
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.162465,0.166058,0.458333
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.162465,0.166058,0.687500
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.162465,0.166058,0.843750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58846,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.361369,0.424270,0.843750
58847,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.482769,0.620438,0.114583
58848,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.320122,0.234489,0.260417
58849,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.557100,0.515511,0.479167
58850,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,0.340328,0.593750

Warning: Total number of columns (56) exceeds max_columns (20) limiting to first (20) columns.
Warning: total number of rows (58851) exceeds max_rows (20000). Limiting to first (20000) rows.

#Split data into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state= 78)

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state= 78)

In [30]:
model = LinearRegression()

In [31]:
model.fit(X_train, y_train)

LinearRegression()

In [32]:
y_predict = model.predict(X_test)

In [33]:
sm.mean_squared_error(y_test, y_predict)

5.903539616262889

In [34]:
sm.r2_score(y_test, y_predict)

0.3302197237638951

In [36]:
importance=model.coef_

In [37]:
for i,v in enumerate(importance):
	print('Feature: %0d, Score: %.5f' % (i,v))

Feature: 0, Score: -967904818348.46167
Feature: 1, Score: -967904818350.82324
Feature: 2, Score: -967904818350.42114
Feature: 3, Score: -967904818351.64282
Feature: 4, Score: -967904818350.04639
Feature: 5, Score: -967904818348.27393
Feature: 6, Score: -967904818348.49097
Feature: 7, Score: -967904818348.26477
Feature: 8, Score: -967904818352.46582
Feature: 9, Score: -967904818350.34546
Feature: 10, Score: -967904818351.32288
Feature: 11, Score: -967904818347.35974
Feature: 12, Score: -281446954100.64587
Feature: 13, Score: -281446954100.47876
Feature: 14, Score: -281446954100.47827
Feature: 15, Score: -281446954100.58868
Feature: 16, Score: -281446954101.02472
Feature: 17, Score: -281446954099.36877
Feature: 18, Score: -281446954100.03918
Feature: 19, Score: -281446954100.76501
Feature: 20, Score: -281446954101.20154
Feature: 21, Score: -281446954099.94629
Feature: 22, Score: -281446954099.76971
Feature: 23, Score: -281446954099.45947
Feature: 24, Score: -281446954100.18274
Feature: 25, Score: -281446954100.87097
Feature: 26, Score: -281446954101.18494
Feature: 27, Score: -281446954100.92804
Feature: 28, Score: -281446954100.76062
Feature: 29, Score: -281446954099.86017
Feature: 30, Score: -281446954100.99622
Feature: 31, Score: -281446954101.05481
Feature: 32, Score: -281446954101.00873
Feature: 33, Score: -281446954100.38617
Feature: 34, Score: -281446954100.48737
Feature: 35, Score: -281446954101.32922
Feature: 36, Score: -281446954099.72766
Feature: 37, Score: -281446954100.14886
Feature: 38, Score: -281446954100.63293
Feature: 39, Score: -281446954099.88690
Feature: 40, Score: -281446954099.98578
Feature: 41, Score: -281446954099.33038
Feature: 42, Score: -281446954100.68176
Feature: 43, Score: -281446954101.20569
Feature: 44, Score: -281446954100.70605
Feature: 45, Score: -281446954100.48022
Feature: 46, Score: -281446954099.47467
Feature: 47, Score: -281446954099.91833
Feature: 48, Score: -281446954101.19489
Feature: 49, Score: -281446954100.62622
Feature: 50, Score: -281446954100.18103
Feature: 51, Score: -281446954100.51465
Feature: 52, Score: -281446954100.47058
Feature: 53, Score: -1.65121
Feature: 54, Score: 5.67435
Feature: 55, Score: 7.86560

Deep Learning

In [46]:
# Define the model - deep neural net
number_input_features = 68
hidden_nodes_layer1 = 132
hidden_nodes_layer2 = 68

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="relu"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 132)               9108

 dense_4 (Dense)             (None, 68)                9044

 dense_5 (Dense)             (None, 1)                 69

=================================================================
Total params: 18,221
Trainable params: 18,221
Non-trainable params: 0
_________________________________________________________________

In [47]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [48]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=10)

Epoch 1/10
1380/1380 [==============================] - 3s 2ms/step - loss: -1322.3490 - accuracy: 0.0000e+00
Epoch 2/10
1380/1380 [==============================] - 2s 2ms/step - loss: -1338.8619 - accuracy: 0.0000e+00
Epoch 3/10
1380/1380 [==============================] - 2s 2ms/step - loss: -1338.8633 - accuracy: 0.0000e+00
Epoch 4/10
1380/1380 [==============================] - 3s 2ms/step - loss: -1338.8618 - accuracy: 0.0000e+00
Epoch 5/10
1380/1380 [==============================] - 2s 2ms/step - loss: -1338.8612 - accuracy: 0.0000e+00
Epoch 6/10
1380/1380 [==============================] - 2s 2ms/step - loss: -1338.8617 - accuracy: 0.0000e+00
Epoch 7/10
1380/1380 [==============================] - 2s 2ms/step - loss: -1338.8629 - accuracy: 0.0000e+00
Epoch 8/10
1380/1380 [==============================] - 2s 2ms/step - loss: -1338.8613 - accuracy: 0.0000e+00
Epoch 9/10
1380/1380 [==============================] - 2s 2ms/step - loss: -1338.8621 - accuracy: 0.0000e+00
Epoch 10/10
1380/1380 [==============================] - 2s 2ms/step - loss: -1338.8617 - accuracy: 0.0000e+00