In [1]:
# Import dependency
import pandas as pd

In [2]:
# Read projected precipitation data in CSV to a DataFrame
file_path1 = "../Raw Data/France Precipitation Predict.csv"
precip_df = pd.read_csv(file_path1)
precip_df.head()

,Unnamed: 0,France,Alsace,Aquitaine,Auvergne,Basse-Normandie,Bourgogne,Bretagne,Centre,Champagne-Ardenne,...,Cayenne,Saint-laurent-du-maroni,Administrative unit not available,Administrative unit not available.1,Arrondissement_du_vent,Arrondissement_souse_le_vent,Fort-de-France,La Trinite,Le Marin,Saint-Pierre
0,2006,979.79,1236.97,951.04,1060.66,905.82,1136.25,931.94,949.41,1038.95,...,1047.69,964.05,586.97,1126.36,995.52,1015.37,751.03,750.33,747.93,752.18
1,2007,972.05,1250.60,883.44,1003.26,976.26,1120.62,990.71,979.46,1067.56,...,1058.17,1003.42,558.18,1394.41,811.76,811.09,747.19,750.95,763.85,741.04
2,2008,998.92,1233.63,946.79,1051.07,956.52,1129.09,1004.00,983.82,1064.16,...,1129.70,1014.01,624.79,1063.82,894.44,899.40,740.41,745.77,764.15,731.64
3,2009,1040.06,1274.26,968.90,1112.13,994.79,1190.12,1063.50,1067.28,1087.75,...,1085.36,1005.19,627.96,936.90,901.31,918.41,744.34,749.36,766.58,736.12
4,2010,1035.19,1284.61,1030.31,1146.82,949.15,1234.25,955.24,1058.63,1108.81,...,1046.71,986.29,604.86,1387.49,960.99,952.16,728.03,730.42,738.62,724.12

In [3]:
# Rename unnamed column
precip_df = precip_df.rename(columns={'Unnamed: 0': 'Year'})
precip_df.head()

,Year,France,Alsace,Aquitaine,Auvergne,Basse-Normandie,Bourgogne,Bretagne,Centre,Champagne-Ardenne,...,Cayenne,Saint-laurent-du-maroni,Administrative unit not available,Administrative unit not available.1,Arrondissement_du_vent,Arrondissement_souse_le_vent,Fort-de-France,La Trinite,Le Marin,Saint-Pierre
0,2006,979.79,1236.97,951.04,1060.66,905.82,1136.25,931.94,949.41,1038.95,...,1047.69,964.05,586.97,1126.36,995.52,1015.37,751.03,750.33,747.93,752.18
1,2007,972.05,1250.60,883.44,1003.26,976.26,1120.62,990.71,979.46,1067.56,...,1058.17,1003.42,558.18,1394.41,811.76,811.09,747.19,750.95,763.85,741.04
2,2008,998.92,1233.63,946.79,1051.07,956.52,1129.09,1004.00,983.82,1064.16,...,1129.70,1014.01,624.79,1063.82,894.44,899.40,740.41,745.77,764.15,731.64
3,2009,1040.06,1274.26,968.90,1112.13,994.79,1190.12,1063.50,1067.28,1087.75,...,1085.36,1005.19,627.96,936.90,901.31,918.41,744.34,749.36,766.58,736.12
4,2010,1035.19,1284.61,1030.31,1146.82,949.15,1234.25,955.24,1058.63,1108.81,...,1046.71,986.29,604.86,1387.49,960.99,952.16,728.03,730.42,738.62,724.12

In [4]:
# Create new dataframe with applicable provinces
new_precip_df = precip_df[['Year', 'Alsace', 'Aquitaine', 'Bourgogne', 'Champagne-Ardenne']]

# Rename columns to ID them as precipitation columns
new_precip_df = new_precip_df.rename(columns={'Alsace': 'Alsace Precip', 'Aquitaine': 'Aquitaine Precip', 'Bourgogne': 'Bourgogne Precip', 'Champagne-Ardenne': 'Champagne-Ardenne Precip'})

new_precip_df.head()

,Year,Alsace Precip,Aquitaine Precip,Bourgogne Precip,Champagne-Ardenne Precip
0,2006,1236.97,951.04,1136.25,1038.95
1,2007,1250.60,883.44,1120.62,1067.56
2,2008,1233.63,946.79,1129.09,1064.16
3,2009,1274.26,968.90,1190.12,1087.75
4,2010,1284.61,1030.31,1234.25,1108.81

In [5]:
# Read projected temperature data in CSV to a DataFrame
file_path2 = "../Raw Data/France Temp Predict.csv"
temp_df = pd.read_csv(file_path2)
temp_df.head()

,Unnamed: 0,France,Alsace,Aquitaine,Auvergne,Basse-Normandie,Bourgogne,Bretagne,Centre,Champagne-Ardenne,...,Cayenne,Saint-laurent-du-maroni,Administrative unit not available,Administrative unit not available.1,Arrondissement_du_vent,Arrondissement_souse_le_vent,Fort-de-France,La Trinite,Le Marin,Saint-Pierre
0,2006,11.81,9.51,13.69,10.71,12.13,11.35,12.79,12.22,11.68,...,26.15,26.36,26.54,26.65,23.43,24.03,26.82,26.78,26.62,26.90
1,2007,11.80,9.61,13.56,10.88,11.98,11.48,12.68,12.23,11.62,...,25.97,26.19,26.27,26.58,23.40,24.00,26.62,26.57,26.41,26.70
2,2008,11.86,9.83,13.71,10.93,11.94,11.54,12.77,12.19,11.70,...,25.96,26.23,26.52,26.61,23.39,23.99,26.82,26.78,26.62,26.90
3,2009,12.04,10.06,13.75,11.05,12.16,11.73,12.88,12.37,11.95,...,26.12,26.39,26.57,26.61,23.41,24.00,26.87,26.82,26.66,26.94
4,2010,11.62,9.38,13.49,10.64,11.91,11.25,12.61,11.95,11.49,...,26.05,26.35,26.56,26.70,23.61,24.21,26.88,26.84,26.68,26.96

In [6]:
# Rename unnamed column
temp_df = temp_df.rename(columns={'Unnamed: 0': 'Year'})
temp_df.head()

,Year,France,Alsace,Aquitaine,Auvergne,Basse-Normandie,Bourgogne,Bretagne,Centre,Champagne-Ardenne,...,Cayenne,Saint-laurent-du-maroni,Administrative unit not available,Administrative unit not available.1,Arrondissement_du_vent,Arrondissement_souse_le_vent,Fort-de-France,La Trinite,Le Marin,Saint-Pierre
0,2006,11.81,9.51,13.69,10.71,12.13,11.35,12.79,12.22,11.68,...,26.15,26.36,26.54,26.65,23.43,24.03,26.82,26.78,26.62,26.90
1,2007,11.80,9.61,13.56,10.88,11.98,11.48,12.68,12.23,11.62,...,25.97,26.19,26.27,26.58,23.40,24.00,26.62,26.57,26.41,26.70
2,2008,11.86,9.83,13.71,10.93,11.94,11.54,12.77,12.19,11.70,...,25.96,26.23,26.52,26.61,23.39,23.99,26.82,26.78,26.62,26.90
3,2009,12.04,10.06,13.75,11.05,12.16,11.73,12.88,12.37,11.95,...,26.12,26.39,26.57,26.61,23.41,24.00,26.87,26.82,26.66,26.94
4,2010,11.62,9.38,13.49,10.64,11.91,11.25,12.61,11.95,11.49,...,26.05,26.35,26.56,26.70,23.61,24.21,26.88,26.84,26.68,26.96

In [7]:
# Create new dataframe with applicable provinces
new_temp_df = temp_df[['Year', 'Alsace', 'Aquitaine', 'Bourgogne', 'Champagne-Ardenne']]

# Rename columns to ID them as temperature columns
new_temp_df = new_temp_df.rename(columns={'Alsace': 'Alsace Temp', 'Aquitaine': 'Aquitaine Temp', 'Bourgogne': 'Bourgogne Temp', 'Champagne-Ardenne': 'Champagne-Ardenne Temp'})

new_temp_df.head()

   Year  Alsace Temp  Aquitaine Temp  Bourgogne Temp  Champagne-Ardenne Temp
0  2006         9.51           13.69           11.35                   11.68
1  2007         9.61           13.56           11.48                   11.62
2  2008         9.83           13.71           11.54                   11.70
3  2009        10.06           13.75           11.73                   11.95
4  2010         9.38           13.49           11.25                   11.49

In [8]:
# Merge the new_precip and new_temp DataFrames into one DataFrame
merge_df = pd.merge(new_precip_df, new_temp_df, on='Year')
merge_df.head()

,Year,Alsace Precip,Aquitaine Precip,Bourgogne Precip,Champagne-Ardenne Precip,Alsace Temp,Aquitaine Temp,Bourgogne Temp,Champagne-Ardenne Temp
0,2006,1236.97,951.04,1136.25,1038.95,9.51,13.69,11.35,11.68
1,2007,1250.60,883.44,1120.62,1067.56,9.61,13.56,11.48,11.62
2,2008,1233.63,946.79,1129.09,1064.16,9.83,13.71,11.54,11.70
3,2009,1274.26,968.90,1190.12,1087.75,10.06,13.75,11.73,11.95
4,2010,1284.61,1030.31,1234.25,1108.81,9.38,13.49,11.25,11.49

In [9]:
# Create province DataFrame with year, precipitation and temperature
alsace_df = merge_df[['Year', 'Alsace Precip', 'Alsace Temp']]

# Add a column to specify which province the precipitation and temperature data is for
alsace_df['Province'] = pd.Series(['Alsace' for x in range(len(alsace_df.index))])

# Rename the precipitation and temperature columns by replacing the province name with "Projected"
alsace_df = alsace_df.rename(columns={'Alsace Precip': 'Projected Precip', 'Alsace Temp': 'Projected Temp'})

# Reorder the columns
alsace_df = alsace_df[['Province', 'Year', 'Projected Precip', 'Projected Temp']]

alsace_df.head()

C:\Users\cms06\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

  Province  Year  Projected Precip  Projected Temp
0   Alsace  2006           1236.97            9.51
1   Alsace  2007           1250.60            9.61
2   Alsace  2008           1233.63            9.83
3   Alsace  2009           1274.26           10.06
4   Alsace  2010           1284.61            9.38

In [10]:
# Create province DataFrame with year, precipitation and temperature
aquitaine_df = merge_df[['Year', 'Aquitaine Precip', 'Aquitaine Temp']]

# Add a column to specify which province the precipitation and temperature data is for
aquitaine_df['Province'] = pd.Series(['Aquitaine' for x in range(len(aquitaine_df.index))])

# Rename the precipitation and temperature columns by replacing the province name with "Projected"
aquitaine_df = aquitaine_df.rename(columns={'Aquitaine Precip': 'Projected Precip', 'Aquitaine Temp': 'Projected Temp'})

# Reorder the columns
aquitaine_df = aquitaine_df[['Province', 'Year', 'Projected Precip', 'Projected Temp']]

aquitaine_df.head()

C:\Users\cms06\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

    Province  Year  Projected Precip  Projected Temp
0  Aquitaine  2006            951.04           13.69
1  Aquitaine  2007            883.44           13.56
2  Aquitaine  2008            946.79           13.71
3  Aquitaine  2009            968.90           13.75
4  Aquitaine  2010           1030.31           13.49

In [11]:
# Create province DataFrame with year, precipitation and temperature
bourgogne_df = merge_df[['Year', 'Bourgogne Precip', 'Bourgogne Temp']]

# Add a column to specify which province the precipitation and temperature data is for
bourgogne_df['Province'] = pd.Series(['Bourgogne' for x in range(len(bourgogne_df.index))])

# Rename the precipitation and temperature columns by replacing the province name with "Projected"
bourgogne_df = bourgogne_df.rename(columns={'Bourgogne Precip': 'Projected Precip', 'Bourgogne Temp': 'Projected Temp'})

# Reorder the columns
bourgogne_df = bourgogne_df[['Province', 'Year', 'Projected Precip', 'Projected Temp']]

bourgogne_df.head()

C:\Users\cms06\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

    Province  Year  Projected Precip  Projected Temp
0  Bourgogne  2006           1136.25           11.35
1  Bourgogne  2007           1120.62           11.48
2  Bourgogne  2008           1129.09           11.54
3  Bourgogne  2009           1190.12           11.73
4  Bourgogne  2010           1234.25           11.25

In [12]:
# Create province DataFrame with year, precipitation and temperature
champagne_ardenne_df = merge_df[['Year', 'Champagne-Ardenne Precip', 'Champagne-Ardenne Temp']]

# Add a column to specify which province the precipitation and temperature data is for
champagne_ardenne_df['Province'] = pd.Series(['Champagne-Ardenne' for x in range(len(champagne_ardenne_df.index))])

# Rename the precipitation and temperature columns by replacing the province name with "Projected"
champagne_ardenne_df = champagne_ardenne_df.rename(columns={'Champagne-Ardenne Precip': 'Projected Precip', 'Champagne-Ardenne Temp': 'Projected Temp'})

# Reorder the columns
champagne_ardenne_df = champagne_ardenne_df[['Province', 'Year', 'Projected Precip', 'Projected Temp']]

champagne_ardenne_df.head()

C:\Users\cms06\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

            Province  Year  Projected Precip  Projected Temp
0  Champagne-Ardenne  2006           1038.95           11.68
1  Champagne-Ardenne  2007           1067.56           11.62
2  Champagne-Ardenne  2008           1064.16           11.70
3  Champagne-Ardenne  2009           1087.75           11.95
4  Champagne-Ardenne  2010           1108.81           11.49

In [13]:
# Combine DataFrames into one
concat_df = pd.concat([alsace_df, aquitaine_df, bourgogne_df, champagne_ardenne_df])
concat_df

             Province  Year  Projected Precip  Projected Temp
0              Alsace  2006           1236.97            9.51
1              Alsace  2007           1250.60            9.61
2              Alsace  2008           1233.63            9.83
3              Alsace  2009           1274.26           10.06
4              Alsace  2010           1284.61            9.38
..                ...   ...               ...             ...
90  Champagne-Ardenne  2096           1112.84           14.10
91  Champagne-Ardenne  2097           1162.67           14.27
92  Champagne-Ardenne  2098           1156.24           14.10
93  Champagne-Ardenne  2099           1064.27           14.11
94  Champagne-Ardenne  2100           1029.98           13.96

[380 rows x 4 columns]

In [14]:
# Save concat_df to CSV
concat_df.to_csv('../Raw Data/projected_weather_france.csv', index=False)