In [1]:
#import dependencies
import pandas as pd
import psycopg2

import sqlalchemy
from sqlalchemy import create_engine

In [29]:
from sklearn.metrics import balanced_accuracy_score
import sklearn.metrics as sm
from imblearn.metrics import classification_report_imbalanced
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import tensorflow as tf

In [3]:
# Create an engine instance
alchemyEngine = create_engine('postgresql+psycopg2://root:Group2Wineos@grp2rdsinstance.cwkbfcctxu7y.us-east-1.rds.amazonaws.com/postgres')

In [4]:
# Connect to PostgreSQL server
dbConnection = alchemyEngine.connect();

In [5]:
#read in merged data
df = pd.read_sql_table('wine_and_weather_table', dbConnection)
df

,province,year,variety,points,prov_weather,year_weather,precipitation,temperature,timeseries
0,Alsace,2008,Other,85,Alsace,2008,891.17,10.21,Historical
1,California,2007,Merlot,85,California,2007,361.29,14.17,Historical
2,Veneto,2007,Other,85,Veneto,2007,711.80,14.26,Historical
3,Veneto,2008,Other,85,Veneto,2008,838.40,14.01,Historical
4,California,2007,Zinfandel,85,California,2007,361.29,14.17,Historical
...,...,...,...,...,...,...,...,...,...
78033,Oregon,2008,Sauvignon Blanc,85,Oregon,2008,541.78,8.25,Historical
78034,California,2008,Chardonnay,85,California,2008,447.72,14.04,Historical
78035,Alsace,2007,Riesling,85,Alsace,2007,958.81,10.68,Historical
78036,California,2007,Cabernet Sauvignon,85,California,2007,361.29,14.17,Historical
78037,Oregon,2008,Pinot Noir,85,Oregon,2008,541.78,8.25,Historical

In [6]:
# drop timeseries, prov_year, prov_weather
df = df.drop(['prov_weather', 'year_weather', 'timeseries'], axis=1)
df

,province,year,variety,points,precipitation,temperature
0,Alsace,2008,Other,85,891.17,10.21
1,California,2007,Merlot,85,361.29,14.17
2,Veneto,2007,Other,85,711.80,14.26
3,Veneto,2008,Other,85,838.40,14.01
4,California,2007,Zinfandel,85,361.29,14.17
...,...,...,...,...,...,...
78033,Oregon,2008,Sauvignon Blanc,85,541.78,8.25
78034,California,2008,Chardonnay,85,447.72,14.04
78035,Alsace,2007,Riesling,85,958.81,10.68
78036,California,2007,Cabernet Sauvignon,85,361.29,14.17
78037,Oregon,2008,Pinot Noir,85,541.78,8.25

In [7]:
df.dtypes

province          object
year               int64
variety           object
points             int64
precipitation    float64
temperature      float64
dtype: object

In [8]:
# Create the OneHotEncoder instance
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False)

# Fit the encoder and produce encoded DataFrame
encode_df = pd.DataFrame(enc.fit_transform(df.province.values.reshape(-1,1)))

# Rename encoded columns
encode_df.columns = enc.get_feature_names(['province'])
encode_df.head()

C:\Users\zghee\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,province_Alsace,province_Aquitaine,province_Burgundy,province_California,province_Champagne-Ardenne,province_New York,province_Oregon,province_Piemonte,province_Sicilia,province_Tuscany,province_Veneto,province_Washington
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
# Fit the encoder and produce encoded DataFrame
encode2_df = pd.DataFrame(enc.fit_transform(df.variety.values.reshape(-1,1)))

# Rename encoded columns
encode2_df.columns = enc.get_feature_names(['variety'])
encode2_df.head()

C:\Users\zghee\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,variety_Bordeaux-style Red Blend,variety_Cabernet Sauvignon,variety_Chardonnay,variety_Merlot,variety_Nebbiolo,variety_Other,variety_Pinot Noir,variety_Red Blend,variety_Riesling,variety_Sangiovese,variety_Sauvignon Blanc,variety_Syrah,variety_Zinfandel
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [10]:
# Merge the two DataFrames together and drop the Country column
df = df.merge(encode_df,left_index=True,right_index=True).drop(columns="province",axis=1)
df

,year,variety,points,precipitation,temperature,province_Alsace,province_Aquitaine,province_Burgundy,province_California,province_Champagne-Ardenne,province_New York,province_Oregon,province_Piemonte,province_Sicilia,province_Tuscany,province_Veneto,province_Washington
0,2008,Other,85,891.17,10.21,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2007,Merlot,85,361.29,14.17,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2007,Other,85,711.80,14.26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,2008,Other,85,838.40,14.01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,2007,Zinfandel,85,361.29,14.17,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78033,2008,Sauvignon Blanc,85,541.78,8.25,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
78034,2008,Chardonnay,85,447.72,14.04,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
78035,2007,Riesling,85,958.81,10.68,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
78036,2007,Cabernet Sauvignon,85,361.29,14.17,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
78037,2008,Pinot Noir,85,541.78,8.25,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [11]:
df = df.merge(encode2_df,left_index=True,right_index=True).drop("variety",axis=1)
df

,year,points,precipitation,temperature,province_Alsace,province_Aquitaine,province_Burgundy,province_California,province_Champagne-Ardenne,province_New York,...,variety_Merlot,variety_Nebbiolo,variety_Other,variety_Pinot Noir,variety_Red Blend,variety_Riesling,variety_Sangiovese,variety_Sauvignon Blanc,variety_Syrah,variety_Zinfandel
0,2008,85,891.17,10.21,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2007,85,361.29,14.17,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2007,85,711.80,14.26,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2008,85,838.40,14.01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2007,85,361.29,14.17,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78033,2008,85,541.78,8.25,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
78034,2008,85,447.72,14.04,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
78035,2007,85,958.81,10.68,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
78036,2007,85,361.29,14.17,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
78037,2008,85,541.78,8.25,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
#scale dataframe
from sklearn.preprocessing import StandardScaler
# Create the StandardScaler instance
scaler = StandardScaler()
df_new = df[['precipitation', 'temperature']].copy()

# Fit the StandardScaler
scaler.fit(df_new)


# Scale the data
scaled_data = scaler.transform(df_new)
scaled_data
scaled_df = pd.DataFrame(scaled_data, columns = ["precipitation_scaled", "temperature_scaled"])
scaled_df

C:\Users\zghee\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name']. An error will be raised in 1.2.
  FutureWarning,
C:\Users\zghee\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name']. An error will be raised in 1.2.
  FutureWarning,

       precipitation_scaled  temperature_scaled
0                  0.754296           -0.998311
1                 -1.293366            0.601100
2                  0.061141            0.637450
3                  0.550372            0.536477
4                 -1.293366            0.601100
...                     ...                 ...
78033             -0.595882           -1.789939
78034             -0.959367            0.548594
78035              1.015683           -0.808482
78036             -1.293366            0.601100
78037             -0.595882           -1.789939

[78038 rows x 2 columns]

In [19]:
# merge df, and scaled_data
df = df.merge(scaled_df,left_index=True,right_index=True).drop(columns=["precipitation", "temperature"], axis=1)
df

KeyError: "['precipitation' 'temperature'] not found in axis"

In [18]:
df.describe()

,year,province_Alsace,province_Aquitaine,province_Burgundy,province_California,province_Champagne-Ardenne,province_New York,province_Oregon,province_Piemonte,province_Sicilia,...,variety_Other,variety_Pinot Noir,variety_Red Blend,variety_Riesling,variety_Sangiovese,variety_Sauvignon Blanc,variety_Syrah,variety_Zinfandel,precipitation_scaled,temperature_scaled
count,78038.000000,78038.000000,78038.000000,78038.000000,78038.000000,78038.000000,78038.000000,78038.000000,78038.000000,78038.000000,...,78038.000000,78038.000000,78038.000000,78038.000000,78038.000000,78038.000000,78038.000000,78038.000000,7.803800e+04,7.803800e+04
mean,2010.589700,0.027935,0.076078,0.050270,0.456444,0.006945,0.032997,0.068287,0.047285,0.022668,...,0.251480,0.147544,0.074592,0.030331,0.032856,0.028358,0.042659,0.034509,1.058404e-15,-7.045288e-16
std,3.518747,0.164788,0.265125,0.218504,0.498102,0.083049,0.178629,0.252240,0.212248,0.148845,...,0.433867,0.354649,0.262733,0.171499,0.178260,0.165994,0.202088,0.182533,1.000006e+00,1.000006e+00
min,1991.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.849412e+00,-2.351349e+00
25%,2009.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-6.679146e-01,-8.892605e-01
50%,2011.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-9.513515e-02,4.718546e-01
75%,2013.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.799449e-01,6.414892e-01
max,2016.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.447735e+00,2.075305e+00

In [14]:
y = df.pop('points')
y

0        85
1        85
2        85
3        85
4        85
         ..
78033    85
78034    85
78035    85
78036    85
78037    85
Name: points, Length: 78038, dtype: int64

In [15]:
X = df
X

,year,province_Alsace,province_Aquitaine,province_Burgundy,province_California,province_Champagne-Ardenne,province_New York,province_Oregon,province_Piemonte,province_Sicilia,...,variety_Other,variety_Pinot Noir,variety_Red Blend,variety_Riesling,variety_Sangiovese,variety_Sauvignon Blanc,variety_Syrah,variety_Zinfandel,precipitation_scaled,temperature_scaled
0,2008,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.754296,-0.998311
1,2007,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.293366,0.601100
2,2007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.061141,0.637450
3,2008,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.550372,0.536477
4,2007,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,-1.293366,0.601100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78033,2008,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-0.595882,-1.789939
78034,2008,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.959367,0.548594
78035,2007,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.015683,-0.808482
78036,2007,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.293366,0.601100
78037,2008,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.595882,-1.789939

#Split data into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state= 78)

In [20]:
model = LinearRegression()

In [21]:
model.fit(X_train, y_train)

C:\Users\zghee\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name', 'str']. An error will be raised in 1.2.
  FutureWarning,

LinearRegression()

In [22]:
y_predict = model.predict(X_test)

C:\Users\zghee\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name', 'str']. An error will be raised in 1.2.
  FutureWarning,

In [27]:
sm.mean_squared_error(y_test, y_predict)

8.674391450255161

In [28]:
sm.r2_score(y_test, y_predict)

0.09169074057988125

Deep Learning

In [45]:
# Define the model - deep neural net
number_input_features = 2
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="linear")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="linear"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="linear"))

# Check the structure of the model
nn.summary()

Model: "sequential_7"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_17 (Dense)             (None, 8)                 24
_________________________________________________________________
dense_18 (Dense)             (None, 5)                 45
_________________________________________________________________
dense_19 (Dense)             (None, 1)                 6
=================================================================
Total params: 75
Trainable params: 75
Non-trainable params: 0
_________________________________________________________________

In [46]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [47]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=10)

Epoch 1/10
1829/1829 [==============================] - 2s 1ms/step - loss: -843.3289 - accuracy: 0.0000e+00
Epoch 2/10
1829/1829 [==============================] - 2s 1ms/step - loss: -1339.0626 - accuracy: 0.0000e+00
Epoch 3/10
1829/1829 [==============================] - 3s 1ms/step - loss: -1339.0620 - accuracy: 0.0000e+00: 0s - loss: -1339.1031 - accuracy - ETA: 0s - loss: -1339.0658 - accuracy
Epoch 4/10
1829/1829 [==============================] - 3s 2ms/step - loss: -1339.0626 - accuracy: 0.0000e+00: 2s - los - ETA: 1s - loss:
Epoch 5/10
1829/1829 [==============================] - 2s 1ms/step - loss: -1339.0621 - accuracy: 0.0000e+00
Epoch 6/10
1829/1829 [==============================] - 2s 1ms/step - loss: -1339.0621 - accuracy: 0.0000e+00
Epoch 7/10
1829/1829 [==============================] - 2s 1ms/step - loss: -1339.0627 - accuracy: 0.0000e+00
Epoch 8/10
1829/1829 [==============================] - 3s 1ms/step - loss: -1339.0627 - accuracy: 0.0000e+00: 1s - loss: -1338.7214 - accu
Epoch 9/10
1829/1829 [==============================] - 3s 2ms/step - loss: -1339.0625 - accuracy: 0.0000e+00
Epoch 10/10
1829/1829 [==============================] - 4s 2ms/step - loss: -1339.0616 - accuracy: 0.0000e+00: 0s - loss: -

In [34]:
#Split data into training and testing
X_train, X_test, y_train, y_test = train_test_split(scaled_df, y, random_state= 78)