<a href="https://colab.research.google.com/github/kylejohnsonks/Group2/blob/Kyle/MLModel_v3_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#import dependencies
import pandas as pd
import psycopg2

import sqlalchemy
from sqlalchemy import create_engine

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [5]:
from sklearn.metrics import balanced_accuracy_score
import sklearn.metrics as sm
from imblearn.metrics import classification_report_imbalanced
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import tensorflow as tf
import plotly as pt

In [6]:
# Create an engine instance
alchemyEngine = create_engine('postgresql+psycopg2://root:Group2Wineos@grp2rdsinstance.cwkbfcctxu7y.us-east-1.rds.amazonaws.com/postgres')

In [7]:
# Connect to PostgreSQL server
dbConnection = alchemyEngine.connect();

In [8]:
## Remove all features except precipitation, temperature, price

In [9]:
raw_df=pd.read_csv("https://raw.githubusercontent.com/kylejohnsonks/Group2/Kyle/Resources/MergedData.csv")
raw_df.head()

,points,price,province,variety,winery,Precipitation,Temperature
0,87,14.0,Oregon,Pinot Gris,Rainstorm,440.1,8.68
1,87,20.0,Oregon,Pinot Noir,Acrobat,440.1,8.68
2,92,48.0,Oregon,Pinot Noir,WillaKenzie Estate,440.1,8.68
3,92,70.0,Oregon,Pinot Noir,Stoller,440.1,8.68
4,90,85.0,Oregon,Pinot Noir,Beacon Hill,440.1,8.68

In [14]:
#Drop province, winery and variety
raw_df=raw_df.drop(['province','variety','winery'],axis=1)
raw_df.head()

   points  price  Precipitation  Temperature
0      87   14.0          440.1         8.68
1      87   20.0          440.1         8.68
2      92   48.0          440.1         8.68
3      92   70.0          440.1         8.68
4      90   85.0          440.1         8.68

In [15]:
#scale dataframe
from sklearn.preprocessing import MinMaxScaler
# Create the StandardScaler instance
scaler = MinMaxScaler()
df_new = raw_df[['Precipitation', 'Temperature','price']].copy()

# Fit the StandardScaler
scaler.fit(df_new)


# Scale the data
scaled_data = scaler.transform(df_new)
scaled_df = pd.DataFrame(scaled_data, columns = ["precipitation_scaled", "temperature_scaled","price_scaled"])
scaled_df

       precipitation_scaled  temperature_scaled  price_scaled
0                  0.162465            0.166058      0.104167
1                  0.162465            0.166058      0.166667
2                  0.162465            0.166058      0.458333
3                  0.162465            0.166058      0.687500
4                  0.162465            0.166058      0.843750
...                     ...                 ...           ...
58846              0.361369            0.424270      0.843750
58847              0.482769            0.620438      0.114583
58848              0.320122            0.234489      0.260417
58849              0.557100            0.515511      0.479167
58850              1.000000            0.340328      0.593750

[58851 rows x 3 columns]

In [16]:
# merge df, and scaled_data
df = raw_df.merge(scaled_df,left_index=True,right_index=True).drop(columns=["Precipitation", "Temperature","price"], axis=1)
df

       points  precipitation_scaled  temperature_scaled  price_scaled
0          87              0.162465            0.166058      0.104167
1          87              0.162465            0.166058      0.166667
2          92              0.162465            0.166058      0.458333
3          92              0.162465            0.166058      0.687500
4          90              0.162465            0.166058      0.843750
...       ...                   ...                 ...           ...
58846      92              0.361369            0.424270      0.843750
58847      86              0.482769            0.620438      0.114583
58848      87              0.320122            0.234489      0.260417
58849      92              0.557100            0.515511      0.479167
58850      86              1.000000            0.340328      0.593750

[58851 rows x 4 columns]

In [17]:
y = df.pop('points')
y

0        87
1        87
2        92
3        92
4        90
         ..
58846    92
58847    86
58848    87
58849    92
58850    86
Name: points, Length: 58851, dtype: int64

In [18]:
X = df

In [19]:
X

       precipitation_scaled  temperature_scaled  price_scaled
0                  0.162465            0.166058      0.104167
1                  0.162465            0.166058      0.166667
2                  0.162465            0.166058      0.458333
3                  0.162465            0.166058      0.687500
4                  0.162465            0.166058      0.843750
...                     ...                 ...           ...
58846              0.361369            0.424270      0.843750
58847              0.482769            0.620438      0.114583
58848              0.320122            0.234489      0.260417
58849              0.557100            0.515511      0.479167
58850              1.000000            0.340328      0.593750

[58851 rows x 3 columns]

#Split data into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state= 78)

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state= 78)

In [21]:
model = LinearRegression()

In [22]:
model.fit(X_train, y_train)

LinearRegression()

In [23]:
y_predict = model.predict(X_test)

In [24]:
sm.mean_squared_error(y_test, y_predict)

6.327923154889416

In [25]:
sm.r2_score(y_test, y_predict)

0.2820717071149841

In [26]:
importance=model.coef_

In [27]:
for i,v in enumerate(importance):
	print('Feature: %0d, Score: %.5f' % (i,v))

Feature: 0, Score: -0.72736
Feature: 1, Score: -0.79984
Feature: 2, Score: 7.59277

Deep Learning

In [34]:
# Define the model - deep neural net
number_input_features = 3
hidden_nodes_layer1 = 20
hidden_nodes_layer2 = 15

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 20)                80

 dense_7 (Dense)             (None, 15)                315

 dense_8 (Dense)             (None, 1)                 16

=================================================================
Total params: 411
Trainable params: 411
Non-trainable params: 0
_________________________________________________________________

In [35]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [37]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=10)

Epoch 1/10
1380/1380 [==============================] - 3s 2ms/step - loss: -5850429.0000 - accuracy: 0.0000e+00
Epoch 2/10
1380/1380 [==============================] - 3s 2ms/step - loss: -11991703.0000 - accuracy: 0.0000e+00
Epoch 3/10
1380/1380 [==============================] - 3s 2ms/step - loss: -20818358.0000 - accuracy: 0.0000e+00
Epoch 4/10
1380/1380 [==============================] - 3s 2ms/step - loss: -32654108.0000 - accuracy: 0.0000e+00
Epoch 5/10
1380/1380 [==============================] - 3s 2ms/step - loss: -47830272.0000 - accuracy: 0.0000e+00
Epoch 6/10
1380/1380 [==============================] - 3s 2ms/step - loss: -66693128.0000 - accuracy: 0.0000e+00
Epoch 7/10
1380/1380 [==============================] - 3s 2ms/step - loss: -89561376.0000 - accuracy: 0.0000e+00
Epoch 8/10
1380/1380 [==============================] - 3s 2ms/step - loss: -116756648.0000 - accuracy: 0.0000e+00
Epoch 9/10
1380/1380 [==============================] - 3s 2ms/step - loss: -148615024.0000 - accuracy: 0.0000e+00
Epoch 10/10
1380/1380 [==============================] - 3s 2ms/step - loss: -185473904.0000 - accuracy: 0.0000e+00